language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-24.0.0

    # The SDK version used to compile your project
    - android-24

jdk:
 - oraclejdk8
before_install:
 - chmod +x gradlew
script:
- ./gradlew test --continue

env:
  global:
  - secure: "cPWU7JUOyw1KdsHGKvDpaRi3Lv4GDYilduqtJNoJzSY1xMKMAcX+rfO3Uvpr59El6GDMOBUDG/aySGFKQBS0Bht8jW23mNLr46Ks06lHx+tcFehsicONGRsb6rPCvoWjeBtqtEJB7N1DLC7EvHLvvJxGGMMAeyfAlTkBIfekXZ89pwrVE6+0mInJZhvSodocOK42SHzo4hXtwe4OZ97H+Hr8DketNY8tsaCE/Lv5lkXpEtxjWRQdJewGzixOC7d8tsneOMfOp7LYk9VJAEQ17uJL8sXppghpWzyB5BX025RAirLSai9Q+tt3BvPULNh9p77UWOPxmsecCzLzoDVaEuDMhSI9XEA8lbn7NETsas6FyX11QwX4uq3jT7GYTmwTfCscqpsRXlKBasNGyYSjhnwDa0WmzqspnF8LKwCT/6S6rXYmuKiUH5jwpCcx+5Res3P6Hbk9TcEILcyJLimNfGZ5eyOZJQGWBdDSGh0JPWOyTJd4+RgPT2VTslZMJ52FgwgGLYckBfu2P6QAau/yWg8Xem33cks5U+LhoVhPitPvOqoGmPXkwONsdJ7UckoJF3zCT/fZ9pko5BZk6KJl+z0JxZN4q9BgMV9ABbC4oitDoFlZWjfWwZZrKnNCSo6eqjc5am28v/cEJv0RAUxZ027Zv4pLCnOkqvM1bnwYkcQ="

  - secure: "VJovmZrtZMTjfnnlDQAvZ2V3LvFdU1RZlPsJUS5HN3bhkO70vUYWNLccN1SkD9a54EyU3TrIPLbf6M6Y/BruBciD3zmEs12dhFtkQoCsToqDyeQum5GpgSATsCi6Ufac4p9/8Rq3soP7CW2vkOFeW24FS70Xe7gLgmH8yK6r23lFbZE/zolhLE9+aDwQP+XQDQ/dvwxTxQyW2kafWXrk9zMBet5PFRiA+AocgyJj3GMUDa/evc/uNu2WpXwlIuz22mJpcNUn6EGeHNSVeFgMDCP+kr48GoPw4KIszUuPfzJ19hagvWIvjfqbvrrfVtVmFtGkUnYtHdIj3zqr6qqGcb9Q09Ym9RsPM8TkfBfnl9WjjhCt+1V6KFbvMzs9a7zgX2U98hL0hidr5lbjniyOKTa5haH25tySNTEi9zUmMuyRImDNPBtm+PXq7PXsPQ8YYbXODoIOz87xqDre6iicR5nL7tyCn3HKGD6Ttj5r+ROiAP95GftdfbEYNiTtuhPF2AoKzGPf/h9Xn250n2U4/S23Lbyv0x/M7nwEwwz3Y6MDfIfFEj/DEMWKE74GmlIb+mvoKNFOxk3glz3tV2YOKaBXq9cTZH4LXpeojGVF3l/7V9XgT0ZBQHzGtv/8v6eJHTXwKJln+cSX9Dn5nrd/zQYhux4xZulPmQramQ5Pt+0="

  - secure: "RJrHbO93A3HOf9+XaieExAQLs/0ipPxHrzuM+KLEBbYs8zXLtUZc6L/l7/BeIgl4Ft0Gx3QdnC+kar9SotnU9jL7jJnuTEXqLyqa9LFKOnToWkGXSdaqc7Jsi60c6fM9omgnksnUsCTPXQGmaK0k8SqKjRmKx4fCI6/3ZxmlBhBFTP/+CmyiBVShYE54wtGw8XP42sOwUtGwp001gF6Wp8uksj3O5UE63ZBCMukJPm2uu4JrTSCKk/8SBmkZhjkf0SVAHAQMzwJLKEcH1klXXDbg3MZq23osMeCK+tWXclVS7Ux9L4RXOd3z/b5++KgbZaSzk3iylUPcOFBp42KUhdnr2yG514KeTO3Gz0iPFQr17oio94ds2UC74ebsRkPdXuKj6DdlXUmxmylSd8oq2kZnIT9B2Zgs68ovrKW7vH6D/EJK10yOsjrNTSFbCR5vuo5JKCgUuKsWzRtBNEmpOmvsCMNnrNKWbJxSp1p6V+/9jtWkBKE/iC7emmdPZ0yLvf1WEtHz/EsG20z3mzXR2TxGoTNQEUEnCEAK20fcGfYoiDkUBMZ/2/Ljh3pPb23ybPpcQWzytbHfdgeO+MCBwW+dnfayN/GTxOCDRuqLCgbRlP1hP2rFtCMONi2mqfQubjWv8gakppmDYv+Z9Dj0wRBcgXDGlspeMLtPZLaX4zo="
